.ui-widget-content .btn-icon-flag_Red { background: url("../images/icons/flag_red.png"); }
.ui-widget-content .btn-icon-flag_Orange { background: url("../images/icons/flag_orange.png"); }
.ui-widget-content .btn-icon-flag_Yellow { background: url("../images/icons/flag_yellow.png"); }
.ui-widget-content .btn-icon-flag_Green { background: url("../images/icons/flag_green.png"); }
.ui-widget-content .btn-icon-flag_Blue { background: url("../images/icons/flag_blue.png"); }
.ui-widget-content .btn-icon-flag_disabled { background: url("../images/icons/flag_disabled.png"); }